<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel Planner App</title>
        <link rel="shortcut icon" href="#">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="container">
            <div class="header">My Travel Planner for Udacity Capstone</div>
            <div class="content">
                <div class="trip-details">
                        <div class="input-box">
                            <span class="details">City Name</span>
                            <input id="city" type="text" placeholder="Enter city planning to travel" class="inputbox" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Trip Date</span>
                            <input id="dates" type="date" class="inputbox" required>
                        </div>
                        <div class="addbutton">
                            <button type="submit" value="Add Trip" id="addtrip" class ="button">Add Trip</button>
                        </div>
                </div>
                    <div class="output">
                            <div class ="image"></div>
                            <div class="forecast"></div>
                    </div>
            </div>
            <div class="footer">
                <input type="button" value="Print this page" onClick="window.print()" class="button">
            </div>
        </div>

        <script>
            // Check that service workers are supported
            /*if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }*/
        </script>

    </body>
</html>