*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: auto;
    width: auto;
    padding: 10px;
    border: 10px;
    background-color: lightblue
}

.button{
    transition: 0.5s;
    font-size: 12px;
}

.button:hover{
    background-color: #3e8e41;
    color: white;
    
}

.inputbox:hover{
    background-color: grey;
    color: white;
    
}

/*First coding for Small Screens less than 500px*/

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 25px 30px;
    border: 10px;
    border-color: grey;
    border-radius: 5px;
}

.container .header{
    flex: 1;
    order: 1;
    font-size: 25px;
    font-weight: 500;
    border: 10px black;
    align-content: center;
}

.container .content{
    order: 2;
    display: grid;
    margin: 0 auto;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
    font-family: sans-serif;
    flex: 1 1 20em;
}

.container .content .trip-details{
    border-radius: 10px;
    border: solid 3px black;
    background-color: lightyellow;
}

.container .content .output{
    border-radius: 10px;
    border: solid 3px black;
    background-color: lightblue;
}

.container .footer{
    flex: 1;
    order: 3;
    align-content: center;
    width: 100px;
    height: 100px;
}

/*Media Query for medium screens*/

@media (min-width:500px) and (max-width: 750px){
    .container .content{
        order: 2;
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
        font-family: sans-serif;
        flex: 1 1 20em;
        height:200px
    }
    .container .content .trip-details{
        border-radius: 10px;
        border: solid 3px black;
        background-color: lightyellow;
        height: 450px;
    }
    
    .container .content .output{
        border-radius: 10px;
        border: solid 3px black;
        background-color: lightblue;
        height: 450px;
    }
}
/*Media Query for larger screens*/

@media (min-width:750px) {
    .container .content{
        order: 2;
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
        font-family: sans-serif;
        flex: 1 1 20em;
        height:200px
    }
    .container .content .trip-details{
        border-radius: 10px;
        border: solid 3px black;
        background-color: lightyellow;
        width: 375px;
        height: 450px;
    }
    
    .container .content .output{
        border-radius: 10px;
        border: solid 3px black;
        background-color: lightblue;
        height: 450px;
        width: 375px;
    }
}
